body {
    background-color: #FFFFE8;
    margin: 0 auto;
}

a {
    display: block;
    color: #333;
    font-weight: bold;
    padding: 5px 8px;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

a:hover {
    color: darkgray
}

button {
    font-size: 18px;
    padding: 6px 8px;
    position: relative;
    background-color: #CDE990;
    border: none;
    font-weight: bold;
    transition: all .2s ease-in-out;
}

button:hover {
    background-color: #AACB73;
    color: darkgreen;
    cursor: pointer;
}

button::after {
    content: '';
    width: 10px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -9px;
    background-color: inherit;
    border-radius: 0 20px 20px 0;
}

button::before {
    content: '';
    width: 10px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -9px;
    background-color: inherit;
    border-radius: 20px 0 0 20px;
}

input:focus {
    outline: none;
}

ul {
    list-style: none;
}

li {
    font-size: 18px;
    padding: 5px;
    margin: 10px;
}

::-webkit-scrollbar {
    display: none;
}


.errMsg {
    color: red;
    font-weight: bold;
    text-align: center;
}

.lightBlue {
    background-color: #79d2d2;
    color: #4a8282;
}

.lightBlue:hover {
    background-color: #67b5b5;
    color: whitesmoke;
}

.me {
    text-align: right;
}

.me span {
    background-color: #FFD495;
    position: relative;
    padding: 2px 2px 2px 6px;
    border-radius: 20px 0 0 20px;
}

.me span::after {
    content: '';
    width: 14px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -13px;
    border-radius: 0 25px 0 0;
    background-color: #FFD495;
}

.user {
    text-align: left;
}

.user span {
    background-color: #D7E9B9;
    position: relative;
    padding: 2px 6px 2px 2px;
    border-radius: 0 20px 20px 0;
}

.user span::before {
    content: '';
    width: 14px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -13px;
    border-radius: 0 0 0 25px;
    background-color: #D7E9B9;
}

.offi {
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 20px;
    background-color: transparent;
    font-weight: bold;
    color: #aaa;
}