.wrap {
    width: 80%;
    margin: 0 auto;
}

.wrap div {
    padding: 5px 10px;
    text-align: center;
}

.wrap p {
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    margin-right: 20px;
}

.chat {
    padding: 10px;
    margin: 0;
    overflow-y: auto;
    background-color: white;
    border-radius: 30px;
    border: 3px solid #AACB73;
}

.chat li span {
    display: inline-block;
}

.send {
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 80%;
    height: 80px;
    padding-bottom: 10px;
    text-align: center;
    overflow: hidden;
    background-color: #FFFFE8;
}

.send input {
    width: 70%;
    margin-right: 20px;
    border: none;
    border-bottom: 2px solid #FFB100;
    background-color: transparent;
    margin: 10px 15px;
    font-size: 22px;
    padding: 5px 8px;
}

.send button {
    background-color: #FFB100;
    font-size: 22px;
}

.send button:hover {
    background-color: #FBC252;
    color: unset;
}